@model Online_Quiz_App.Models.Tbl_Questions

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuizStart</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>



    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              
                <div class="container" style="width:40%">
                    <br />
                    <br />

                    @using (Html.BeginForm("QuizStart", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {  
                        
                        
                         <div class="form-group">
                     
                             <h2> @Html.DisplayFor(x => x.Q_Text)</h2>
                    </div>

                    <div class="form-group">

                     <h3>   @Html.RadioButtonFor(x => x.Op_A,@Model.Q_ID)@Model.Op_A</h3>
                    </div>
                    <div class="form-group">

                        <h3>@Html.RadioButtonFor(x => x.Op_B, @Model.Q_ID)@Model.Op_B</h3>
                    </div>

                    <div class="form-group">

                      <h3>@Html.RadioButtonFor(x => x.Op_C, @Model.Q_ID)@Model.Op_C</h3>
                    </div>
                    <div class="form-group">

                        <h3> @Html.RadioButtonFor(x => x.Op_D, @Model.Q_ID)@Model.Op_D</h3>
                    </div>


                    <div class="row" style="display:none">
                        <h3>
                            @Html.TextBoxFor(x => x.Correct_Op)
                        </h3>
                    </div>
                         @*<div class="form-group">
                        <label for="username" style="color:blue">Correct Ans:</label>
                     
                        @Html.TextBoxFor(x => x.Correct_Op, htmlAttributes: new { @class = "form-control" })
                    </div>*@
                    
                        <button type="submit" class="btn btn-primary">Submit</button>

                    }
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                </div>
            </div>
        </div>
    </div>

    


    @*@using (Html.BeginForm("QuizStart", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">

            <div class="container" style="margin:0 auto;margin-top:150px;">

                <div class="row">
                    <h1>@Html.DisplayFor(x => x.Q_Text)</h1>

                </div>

                <div class="row">
                    <h3>@Html.DisplayFor(x => x.Op_A)</h3>
                </div>

                <div class="row">
                    <h3>@Html.DisplayFor(x => x.Op_B)</h3>
                </div>
                <div class="row">
                    <h3>@Html.DisplayFor(x => x.Op_C)</h3>
                </div>
                <div class="row">
                    <h3>@Html.DisplayFor(x => x.Op_D)</h3>
                </div>

                <div class="form-group" >
                    <h3>
                        @Html.TextBoxFor(x => x.Correct_Op)
                    </h3>
                </div>

              

                <div class="rown">
                    <input type="submit" value="submit" class="btn btn-success" />
                </div>

            </div>


        </div>
    }*@

   
</body>
</html>


@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuizStart</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />


</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="container" style="margin:0 auto;margin-top:150px;font-family:'Arial Rounded MT'">
                <div class="row">
                    <h1>@Html.DisplayFor(x => x.Q_Text)</h1>
                </div>
                <div class="row">
                    <h3>
                        @Html.DisplayFor(x => x.Op_A)
                    </h3>
                </div>
                <div class="row">
                    <h3>
                        @Html.DisplayFor(x => x.Op_B)
                    </h3>
                </div>

                <div class="row">
                    <h3>
                        @Html.DisplayFor(x => x.Op_C)
                    </h3>
                </div>
                <div class="row">
                    <h3>
                        @Html.DisplayFor(x => x.Op_D)
                    </h3>
                </div>

                <div class="row" style="display:none">
                    <h3>
                        @Html.TextBoxFor(x => x.Correct_Op)
                    </h3>
                </div>

                <div class="row">
                    <input type="submit" value="submit" class="btn btn-success" />

                </div>
            </div>
        </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>*@

