@model IEnumerable<Online_Quiz_App.Models.Tbl_Questions>

@{
    ViewBag.Title = "ViewAllQuestions";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>ViewAllQuestions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Q_Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Op_A)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Op_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Op_C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Op_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correct_Op)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Category.Cat_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Q_Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Op_A)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Op_B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Op_C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Op_D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correct_Op)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Category.Cat_Name)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Q_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Q_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Q_ID })
        </td>*@
    </tr>
}

</table>

<br/>
<br />
<br />
<br />
<div>
    @Html.ActionLink("Back to Dashboard", "Dashboard")
</div>

